.detailDescription{
    font-weight: bold;
    font-size: 18px;
    margin-right:10px
}

.amountDescription {
    font-weight: bold;
    font-size: 18px;
    margin-right:5px;
}

.amountValue {
    font-size: 28px;
}